// CONTACTS SECTION

.contacts {
	padding: 20px 0 330px;

	.container-wrap {
		@extend .clearfix;
	}

	&-desc {
		padding-top: 50px;
		float: left; width: 50%;
		text-align: right;
		padding: 0 30px;

		&__firm {
			@include font-type($dark-text, $main-font, 24px, 1.5, 0);
		}
		&__addr,
		&__tel,
		&__email {
			&_text {
				@include font-type($dark-text, $main-font, 18px, 1.5, 0);
				display: inline-block;
			}
		}

	}

	&-map {
		width: 50%;
		float: left;
		padding: 0 30px;


		#map {
			border: 1px solid #5D4037; box-shadow: 5px 5px 5px 0px rgba(93,64,55,0.5);
		}
	}

	


}	