// FOOTER

.footer {
	@extend .clearfix;

	padding: 50px 0;
	background-color: $header-bg-color;
	min-height: $footer-height;
	box-shadow: 0px -5px 5px 0px rgba(93,64,55,0.5);

	position: absolute; bottom: 0;
	width: 100%;

	&__logo {
		width: 50%; float: left;
		text-align: center;
		display: inline-block;
		@include font-type($grey-text, $bold-font, 48px, 1, 0);
		text-transform: uppercase;
		height: 150px;
		background: url('../img/logo.png') center no-repeat;
		background-size: 22%;

		&_link {
			display: block; width: 140px; margin: auto;
			height: 140px; 
		}
	}

	&__info {
		width: 50%; float: left;
		padding-left: 200px;
		&_head {
			@include font-type($grey-text, $main-font, 18px, 1.5, 0);
			margin-bottom: 10px;
			position: relative;
			&:after {
				content: '';
				position: absolute; bottom: -5px; left: 0;
				width: 200px;
				border-bottom: 2px solid $grey-text;
			}
		}
		&_tel {
			.tel {
				@include font-type($grey-text, $main-font, 18px, 1.5, 0);
			}
		}
	}
}