// FOOTER

.footer {
	@extend .clearfix;

	padding: 50px 0;
	background-color: $header-bg-color;

	&__logo {
		width: 50%; float: left;
		text-align: center;
		display: inline-block;
		@include font-type($grey-text, $bold-font, 48px, 1, 0);
		text-transform: uppercase;
		height: 150px;
		background: url('../img/logo.png') center 90% no-repeat;
		background-size: 18%;		
	}

	&__info {
		width: 50%; float: left;
		padding-left: 200px;
		&_head {
			@include font-type($grey-text, $main-font, 18px, 1.5, 0);
			margin-bottom: 10px;
			position: relative;
			&:after {
				content: '';
				position: absolute; bottom: -5px; left: 0;
				width: 200px;
				border-bottom: 2px solid $grey-text;
			}
		}
		&_tel {
			.tel {
				@include font-type($grey-text, $main-font, 18px, 1.5, 0);
				padding-left: 40px;
				position: relative;
				&:before {
					content: '';
					position: absolute; bottom: -2px; left: 0;
				}
			}
			.tel-mts {
				&:before {
					background-image: url(../img/sprite.png);
					background-position: 0px 0px;
					width: 30px;
					height: 30px;
				}
			}
			.tel-vel {
				&:before {
					bottom: 0;
					background-image: url(../img/sprite.png);
					background-position: 0px -30px;
					width: 30px;
					height: 22px;
				}
			}
			.tel-stat {
				&:before {
					background-image: url(../img/sprite.png);
					background-position: -30px 0px;
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}