include common/variables
include common/jobs
include common/products-list

block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="author")
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=1300px" name="viewport")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        //- favicon block start
        //- favicon block end

        link(rel='stylesheet' href='assets/css/foundation.css')
        link(rel='stylesheet' href='assets/css/app.css')

    body
        include common/sections/preload

        block content

        script(src='assets/js/foundation.js' defer)
        script(src='assets/js/app.js' defer)