@import 'common/*scss';
@import 'common/mixins/*.scss';

/* local fonts */
@include font-face('Shirota', 'Shirota');
@include font-face('OswaldBold', 'OswaldBold');
@include font-face('OswaldRegular', 'OswaldRegular');

/* variables */

$main-font: 'OswaldRegular', sans-serif;
$bold-font: 'OswaldBold', sans-serif;

$header-bg-color: #5D4037;
$light-sec-color: #D7CCC8;

$grey-text: #bdbdbd;
$dark-text: #212121;
$white-text: #ffffff;

$footer-height: 250px;

/* global settings */

body {
	margin: 0;
}

html {
	min-height: 100%;
	min-width: 1100px;
	width: 100%;
	position: relative;
	background-color: $light-sec-color;
}

.container-wrap {
	width: 100%;
	max-width: 1300px; padding: 0 15px; margin: auto;
}

h1 {
	@include font-type($dark-text, $bold-font, 48px, 1.5, 0);
	text-transform: uppercase;
}

h2 {
	text-transform: uppercase; text-align: center; position: relative;
	@include font-type($dark-text, $bold-font, 36px, 2, 0);
	margin-bottom: 50px;

	&:after {
		content: '';
		position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);
		width: 200px; margin: auto;
		border-bottom: 3px solid $dark-text;
	}
}

h3 {
	@include font-type($dark-text, $bold-font, 20px, 1.5, 0);
	text-transform: uppercase;
}

p {
	@include font-type($dark-text, $main-font, 18px, 1.5, 0);
}

.tel {
	padding-left: 40px;
	position: relative;
	&:before {
		content: '';
		position: absolute; bottom: -1px; left: -1px;
	}
}

.tel-mts {
	&:before {
		background-image: url(../img/sprite.png);
		background-position: 0px 0px;
		width: 30px;
		height: 30px;
	}
}

.tel-vel {
	&:before {
		bottom: 0;
		background-image: url(../img/sprite.png);
		background-position: 0px -30px;
		width: 30px;
		height: 22px;
	}
}

.tel-life {
	&:before {
		bottom: 0;
		background-image: url(../img/sprite.png);
		background-position: -30px -30px;
		width: 30px;
		height: 16px;
		bottom: 4px;
	}
}

.tel-stat {
	&:before {
		background-image: url(../img/sprite.png);
		background-position: -30px 0px;
		width: 30px;
		height: 30px;
	}
}

/* import sections */
@import 'common/sections/*.scss'


