-
	/* products list */

	var prodList = {
		"brus": {
			"Брус, доска обрезная": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"euro": {
			"Евровагонка сосна, ель (сосна, ель, береза, дуб, осина)": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"block": {
			"Блок-хаус": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"floor": {
			"Блок-хаус": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"floor2": {
			"Доска пола": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"euro2": {
			"Евровагонка": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"floor3": {
			"Доска пола обрезная": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"floor4": {
			"Доска пола": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		},
		"floor5": {
			"Доска пола": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		}/*,
		"floor6": {
			"Доска пола": {"150x100":"10","160x100":"15","170x100":"20","180x100":"25","190x100":"30","200x100":"35"}
		}*/

	}