-
	/* products list */

	var prodList = {
		"brus": {
			"Брус, доска обрезная": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"euro": {
			"Евровагонка сосна, ель": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"block": {
			"Блок-хаус": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"floor": {
			"Блок-хаус": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"floor2": {
			"Доска пола": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"euro2": {
			"Евровагонка": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"floor3": {
			"Доска пола обрезная": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		},
		"floor4": {
			"Доска пола": ["150x100","160x100","170x100","180x100","190x100","200x100"]
		}
	}