-
	/* gallery */
	var nav = {
		"Главная": "index.html",
		"Галерея": "gallery.html",
		"Продукция": "products.html",
		"Контакты": "contacts.html"
	};

	/* firm name*/
	var firm = ["ОДО","Сервис"];

	/* firm address*/
	var addr = ["223710, г. Солигорск","ул. Строителей д. 1Г"];

	/* firm telephones*/
	var tels = {
		"mts": "+375-29-555-55-55",
		"vel": "+375-29-555-55-55",
		"stat": "+375-174-22-22-22"
	};

	/* firm e-mail */
	var email = "info@mysite.com";


