// ABOUT SECTION

section.about
	.container-wrap
		.about-desc
			.about-desc__image
			.about-desc__text.
				Вот уже более 25 лет мы производим качественную столярную продукцию для офисов, жилых и торговых помещей, для квартир и дачных домов. Безупречная репутация нашей фирмы подтверждена качеством выпускаеммой продукции,  годами нашей работы с вами и положительными отзывами наших клиентов.
		.about-desc
			.about-desc__image
			.about-desc__text.
				Если вам нужен новый шкаф, кухонная мебель, мансарда или другие профессиональные услуги по столярным работам, будем рады помочь.