// CONTACTS SECTION

section.contacts
	
	h2 Контакты

	.container-wrap
		.contacts-desc
			.contacts-desc__firm= firm[0]+' \"'+firm[1]+'\"'
			.contacts-desc__addr
				h3.contacts-desc__addr_head Адрес
				.contacts-desc__addr_text= addr
			.contacts-desc__tel
				h3.contacts-desc__tel_head Телефоны
				.contacts-desc__tel_text
					include _tels
			.contacts-desc__email
				h3.contacts-desc__email_head e-mail
				.contacts-desc__tel_text= email

		.contacts-map
			#map