// FOOTER

footer.footer
	.container-wrap
		.footer__logo
			a.footer__logo_link(href='index.html')
		.footer__info
			.footer__info_head Звоните и <br>получите бесплатную консультацию!
			.footer__info_tel
				include _tels