// HEADER

header.header
		.header-top
			.container-wrap
				.header-top__tel
					.header-top__tel_head Телефоны
					include _tels
				.header-top__logo
					a.header-top__logo_link(href='index.html')
				.header-top__addr
					.header-top__addr_head Адрес
					include _addr

		.header-bottom
			.container-wrap

				include _nav


