// PRODUCTS LIST SECTION

section.products-list

	h2 Наша продукция

	.container-wrap

		.products-list-tables
			-
			each item, name in prodList
				each sizes, desc in item
					table.products-lits__table(id="#"+ name)
						caption.products-lits__table_caption= desc
						thead
							tr.head-col
								th Наименование
								th Размер

						each size in sizes
							tr.body-col
								td.left-row= desc
								td.right-row= size


