extends ../_template

block variables
	- var title = 'Страницы не существует'

block content

	include ../common/sections/header
	include ../common/sections/404-section
	include ../common/sections/footer