extends ../_template

block variables
	- var title = 'Контакты'

block content

	include ../common/sections/header
	include ../common/sections/contacts-section
	include ../common/sections/footer

	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA0xwP1pumwMSFOMAUfiBKExBuU0FZJf50' defer)