extends ../_template

block variables
	- var title = 'Главная'

block content

	include ../common/sections/header-main
	include ../common/sections/intro-section
	include ../common/sections/about-section
	include ../common/sections/products-section
	include ../common/sections/footer


