extends ../_template

block variables
	- var title = 'Продукция'

block content

	include ../common/sections/header
	include ../common/sections/products-list-section
	include ../common/sections/footer